.card4-container {
    background-color: #080C0C;
    color: #EDF2F4;
    padding: 2em;
    border-radius: 10px;
    font-family: var(--font-montserrat);
    text-align: center;
}

.card4-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.card4-description {
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

.card4-list {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.card4-list li {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

.card4-title-left {
    text-align: left;
    margin-bottom: 0.5em;
}

.learn-more-button {
    background-color: #EDF2F4;
    color: #080C0C;
    font-family: var(--font-montserrat);
    padding: 0.75em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1.5em;
}

.learn-more-button:hover {
    background-color: #D1D9DC;
}

.card4-results-image-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.card4-results-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
}

/* Mobile optimization */
@media (max-width: 768px) {
    .card4-title {
        font-size: 1.75em;
    }

    .card4-description {
        font-size: 1em;
    }

    .card4-list li {
        font-size: 1em;
    }

    .card4-results-image {
        max-width: 100%;
    }
}
