/* app/styles/globals.css */

@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  font-family: var(--font-raleway), sans-serif; /* Apply globally */

}

.raleway {
  font-family: var(--font-raleway);
}

.montserrat {
  font-family: var(--font-montserrat);
  font-weight: 400;
}

/* Class for regular weight text */
.regular-weight {
  font-weight: 500; /* Regular weight */
}

/* Class for medium weight text */
.light-weight {
  font-weight: 200; /* Medium weight */
}

/* Class for bold weight text */
.bold-weight {
  font-weight: 900; /* Bold weight */
}








.popout {
  display: inline-block; /* Ensure the animation works on inline elements */
  transition: transform 0.1s ease-out; /* Smooth transition for scaling when hover ends */
}

.popout:hover {
  transform: scale(1.3); /* Slightly enlarge the element on hover */
}